::ng-deep.mat-card-header-text {
  width: 100%;
}

.mat-tab-label {
  width: 100% !important;
}

.mat-ripple {
  width: 100% impor !important;
}

.container {
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 48px;
  padding-bottom: 48px;
}
